section {
  height: 100vw;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

img {
  height: auto;
  width: 250px;
}

@media (min-width: 800px) {
  section {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */