section {
  height: 100vw;
}
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
img {
  height: auto;
  width: 250px;
}
@media(min-width: 800px) {
  section {
    height: 100vh;
  }
}